*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.wrapper_cal{
    background-color: white;
    display: flex; 
    height: 100dvh;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.cal{
    border-radius: 10px;
    background: #D9D9D9;
    width:49.25rem ;
    height: 49.063rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content:  center;
    padding: 1.563rem;
}
.contain_cal{
    height: 45.25rem;
    width: 100%;
}
#display{
    border-radius: 10px;
    text-align: right;
    width: 46.125rem; ;
    height: 8.938rem;
    background: #7CBF54;
    display: flex;
    justify-content: end;
    font-size: 96px;
    
}
.number_operation {
    display: flex; 
    justify-content: center;
    width: 100%;
    height: fit-content;
    margin-top: 25px;

}
.number{
    display: flex;
    flex-wrap: wrap;
    width: 23.875rem;
    height: 32.938rem;
    gap: 25px;
    justify-content: center;

}
.number button{
    border-radius: 10px;
    width: 6.25rem;
    height: 6.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: rgb(52, 58, 64);
    color: #7CBF54;
    border: none;
    cursor: pointer;
}
.number button:hover{
    background: rgb(52, 58, 77);
}
.number button:active{
    background: rgb(52, 58, 50);
}
.operation{
    
    display: flex;
    flex-wrap: wrap;
    width: 14.875rem;
    height: 33.125;
    gap: 25px;
    justify-content: center;

}
.op_item {
    border-radius: 10px;
    width: 6.25rem;
    height: 6.875rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 48px;
    background: #343A40;
    color: #7CBF54;
    border: none;
    cursor: pointer;
}

.op_item:hover{
    background: rgb(52, 58, 77);
}
.op_item:active{
    background: rgb(52, 58, 50);
}

.submit{
    border-radius: 10px;
    width: 14.875rem;
    height: 6.875rem;
    font-size: 48px;
    background: #343A40;
    border: none;
    color: #7CBF54;
    cursor: pointer;
}

@media (max-width: 799px){

    .wrapper_cal{
        background-color: white;
        display: flex; 
        height: 100dvh;
        width: 100%;
        justify-content: center;
        align-items: top;
    }

    .cal{
        border-radius: 20px;
        background: #D9D9D9;
        width:600px;
        height: 500px;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:  center;
        padding: 1.563rem ;
        
    }
    .contain_cal{
        height: fit-content;
        width: 100%;
    } 
    #display{
        border-radius: 10px;
        text-align: right;
        width:100% ;
        height:7.5rem;
        background: #7CBF54;
        display: flex;
        justify-content: end;
        font-size: 4.375rem;
    }
    .number_operation {
        display: flex; 
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        margin-top: 25px;
    
    }
    .number{
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: fit-content;
        height: 100%;
        width: 100%;
        gap: 10px;
        justify-content: center;
        align-items: center;
    
    }
    .number button{
        border-radius: 10px;
        width: 100px;
        max-width: 100px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        background: rgb(52, 58, 64);
        color: #7CBF54;
        border: none;
        cursor: pointer;
        
    }
    .operation{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        height: 100%;
        gap: 10px;
        justify-content: center;
    
    }
    .op_item {
        border-radius: 10px;
        width: 100px;
        height: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        background: rgb(52, 58, 64);
        color: #7CBF54;
        border: none;
        cursor: pointer;
        align-items: center;
    }
    .submit{
        border-radius: 10px;
        width: 100%;
        height: 67px;
        font-size: 48px;
        background: #343A40;
        border: 0;
        color: #7CBF54;
        cursor: pointer;
        grid-column: span 2;


    }
    
}
@media (max-width:399px){

    .wrapper_cal{
        background-color: white;
        display: flex; 
        height: 100dvh;
        width: 100%;
        justify-content: center;
        align-items: top;
    }

    .cal{
        border-radius: 20px;
        background: #D9D9D9;
        width:100%;
        height: 450px;;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content:  center;
        padding: 1.563rem ;
    }
    .contain_cal{
        height: fit-content;
        width: 100%;
    } 
    #display{
        border-radius: 10px;
        text-align: right;
        width:100% ;
        height:7.5rem;
        background: #7CBF54;
        display: flex;
        justify-content: end;
        font-size: 4.375rem;
    }
    .number_operation {
        display: flex; 
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        
        margin-top: 25px;
    
    }
    .number{
        display: grid;
        grid-template-columns: repeat(3, auto);
        width: fit-content;
        height: 100%;
        gap: 10px;
        justify-content: center;
        align-items: center;
    
    }
    .number button{
        border-radius: 10px;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        background: rgb(52, 58, 64);
        color: #7CBF54;
        border: none;
        cursor: pointer;
        
    }
    .operation{
    
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: fit-content;
        height: 100%;
        gap: 10px;
        justify-content: center;
    
    }
    .op_item {
        border-radius: 10px;
        width: 52px;
        height: 52px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 36px;
        background: rgb(52, 58, 64);
        color: #7CBF54;
        border: none;
        cursor: pointer;
        align-items: center;
    }
    .submit{
        border-radius: 10px;
        width: 100%;
        height: 52px;
        font-size: 48px;
        background: #343A40;
        border: 0;
        color: #7CBF54;
        cursor: pointer;
        grid-column: span 2;


    }
    
}

